<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Charly Garcia</h1>
    <p>Charly García (born Carlos Alberto García, October 23, 1951) is an Argentine singer-songwriter, musician and record producer. With a vast and renowned career, he formed and headlined two of the most popular bands in Argentina's rock history: Sui Generis in the 1970s and Serú Girán in the 1980s,[1][2][3] plus cult status groups like progressive-rock act La Máquina de Hacer Pájaros and folk rock supergroup PorSuiGieco, both also in the 1970s. Since the 1980s García has worked mostly as a solo musician.[4] His main instrument is the piano, followed by guitar and keyboards. García is also well known for his flamboyant and rebellious personality as well as his bicolor moustache, with one side white due to vitiligo.[5]</p>
    <img src="charly.jpg" alt="">
</html>